aiohttp==3.7.3 # наш фрейворк
aiohttp-apispec==2.2.1 # модуль для автоматической документации
aiohttp-jinja2==1.4.2 # модуль для работы с HTML-шаблонами
aiopg==1.1.0 # модуль для асинхронной работой с базой Postgres
alembic==1.5.2 # модуль для генерации миграций
certifi==2020.12.5 # модуль, для работы с SSL-сертификатами
gino==1.0.1 # модуль для выполнения запросов базу данных
marshmallow==3.10.0 # модуль для работы с входными данными
PyYAML==5.4.1 # модуль для работы с yaml-файлами